Repository yaattc/automatic-time-table-creation, pull requests merged in 2020-11, with the labels that each got.

#26 wrap frontend into docker image
  docker-compose.yaml
  frontend/Dockerfile
  frontend/src/app/app.component.css
  frontend/src/app/module/control-panel/creation-prof-ta/creation-prof-ta.component.html
  frontend/src/assets/images/Uni.png
  frontend/src/assets/images/User.png
  frontend/src/assets/images/UserBig.png
  frontend/src/environments/environment.prod.ts
  nginx.conf
Labels: frontend

#29 do not wrong password, just return false
  backend/app/cmd/server.go
  backend/app/store/service/service.go
  backend/app/store/service/service_test.go
Labels: backend, enhancement

#33 Frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/constants/routes.ts
  frontend/src/app/module/control-panel/control-panel-routing.module.ts
  frontend/src/app/module/control-panel/control-panel.module.ts
  frontend/src/app/module/control-panel/course-creation/course-creation.component.css
  frontend/src/app/module/control-panel/course-creation/course-creation.component.html
  frontend/src/app/module/control-panel/course-creation/course-creation.component.ts
  frontend/src/app/module/navigation-panel/navigation-panel.component.css
  frontend/src/app/module/navigation-panel/navigation-panel.component.ts
  frontend/src/app/services/teacher.service.ts
Labels: frontend

#50 [WIP] add rest methods
  .github/workflows/go.yml
  README.md
  backend/app/cmd/server.go
  backend/app/rest/api/mock_uni_store.go
  backend/app/rest/api/rest.go
  backend/app/rest/api/rest_sched.go
  backend/app/rest/api/rest_uni.go
  backend/app/rest/api/rest_uni_test.go
  backend/app/store/sched/postgres.go
  backend/app/store/sched/sched.go
  backend/app/store/service/service.go
  backend/app/store/teacher.go
  backend/app/store/teacher/mock_teacher.go
  backend/app/store/teacher/postgres.go
  backend/app/store/teacher/teacher.go
  backend/app/store/uni.go
  backend/app/store/uni/mock_uni.go
  backend/app/store/uni/postgres.go
  backend/app/store/uni/postgres_test.go
  backend/app/store/uni/uni.go
  backend/migrations/20201122202215_timeslots.sql
  backend/migrations/20201122210528_hardcoded_timeslots.sql
  backend/migrations/20201122225356_courses.sql
Labels: backend

#35 Add timetable generation
  backend/app/gen/gen.go
  backend/app/gen/gen_test.go
  backend/app/gen/timetable.go
  backend/app/rest/api/mock_sched_store.go
  backend/app/rest/api/mock_uni_store.go
  backend/app/rest/api/rest.go
  backend/app/rest/api/rest_sched.go
  backend/app/rest/api/rest_sched_test.go
  backend/app/rest/api/rest_uni.go
  backend/app/rest/api/rest_uni_test.go
  backend/app/store/sched/postgres.go
  backend/app/store/sched/sched.go
  backend/app/store/service/service.go
  backend/app/store/service/service_test.go
  backend/app/store/uni.go
  backend/app/store/uni/mock_uni.go
  backend/app/store/uni/postgres.go
  backend/app/store/uni/postgres_test.go
  backend/app/store/uni/uni.go
  backend/go.mod
  backend/migrations/20201025004409_users.sql
  backend/migrations/20201123095542_course_study_year.sql
  backend/vendor/modules.txt
Labels: backend
